.keys {
    width: 80px;
    height: 65px;
    border-radius: 0;
    border: 1px solid black;
    background-color: #4D4D4D;
}
.zero {
    width: 160px;
}
.clear {
    width: 160px;
    background-color: #AC3939;
}
.equals {
    height: 130px;
    background-color: #014466;
}
.operator {
    background-color: #666666;
}
.position-keys{
    position: relative;
    bottom: 65px;
}
.keys-container {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}