.display-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-content: flex-end;
    align-items: flex-end;
    background-color: black;
    height: 72px;
}
.input-value {
    height: 24px;
    color: #FFA500;
    font-family: orbitron;
}
.display-value {
    height: 32px;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: orbitron;
}
