#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  height: 373px;
}